body {
    background-color: blue; 
}
.img-drum {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    }

.body{
    display: grid;
    align-items: center;
    justify-content: center;
}
.keys {
    padding: 10px;
}

button{
    margin: auto;
    width: 70px;
    padding: 10px;

}
.color-div { 
    display: grid;
    align-items: center;
    justify-content: center;
}
#picker-div{
    display: grid;
    align-items: center;
    justify-content: center;
}